services:
  frontend:
    image: node:20-alpine
    container_name: react-frontend
    working_dir: /workspace
    volumes:
      - ./frontend:/workspace
    entrypoint: ["/workspace/entrypoint.sh"]
    ports:
      - "5173:5173"
  backend:
    image: python:3.12-slim
    container_name: flask-backend
    working_dir: /app
    volumes:
      - ./backend:/app
    entrypoint: ["/app/entrypoint.sh"]
    ports:
      - "5000:5000"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: appdb
      DB_USER: appuser
      DB_PASSWORD: apppassword
    depends_on:
      - postgres

#  database:
  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge
